@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@import "primeicons/primeicons.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100dvh;
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
